.Todo_Item{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    /* margin-left: 20px; */
  }
  
  .Todo_Item--completed{
    text-decoration: line-through;
  }